<a href="https://colab.research.google.com/github/khuramgill/Gen-Ai/blob/main/Religion_khuram_gill.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Load Libraries and Dataset**

In [4]:
import pandas as pd


data = pd.read_csv('/content/religion.csv')
print(data.head())

             religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k  \
0            Agnostic     27       34       60       81       76      137
1             Atheist     12       27       37       52       35       70
2            Buddhist     27       21       30       34       33       58
3            Catholic    418      617      732      670      638     1116
4  Don’t know/refused     15       14       15       11       10       35

   $75-100k  $100-150k  >150k  Don't know/refused
0       122        109     84                  96
1        73         59     74                  76
2        62         39     53                  54
3       949        792    633                1489
4        21         17     18                 116

**Rename Columns:** Rename the columns to make them more consistent and easier to reference (e.g., replacing spaces with underscores).

In [5]:
data.columns = data.columns.str.strip().str.replace(' ', '_')
print(data.columns)

Index(['religion', '<$10k', '$10-20k', '$20-30k', '$30-40k', '$40-50k',
       '$50-75k', '$75-100k', '$100-150k', '>150k', 'Don't_know/refused'],
      dtype='object')

In [3]:
print(data.head())

             religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k  \
0            Agnostic     27       34       60       81       76      137
1             Atheist     12       27       37       52       35       70
2            Buddhist     27       21       30       34       33       58
3            Catholic    418      617      732      670      638     1116
4  Don’t know/refused     15       14       15       11       10       35

   $75-100k  $100-150k  >150k  Don't know/refused
0       122        109     84                  96
1        73         59     74                  76
2        62         39     53                  54
3       949        792    633                1489
4        21         17     18                 116

**Handle Missing Values:** Identify missing values and either fill or drop them, depending on the situation. For simplicity, we'll drop rows with missing values.

In [6]:
data = data.dropna()

**Remove Extra Spaces in String Data** Clean data by removing any leading or trailing spaces that might exist.

In [7]:
data = data.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)

<ipython-input-7-2d475c5209d7>:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)

**Convert Columns to Appropriate Data Types**

In [8]:
for col in data.columns[1:]:
    data[col] = pd.to_numeric(data[col], errors='coerce')

**Remove Duplicates**

In [9]:
data = data.drop_duplicates()

**Final Data Check**

In [10]:
print(data.info())
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   religion            18 non-null     object
 1   <$10k               18 non-null     int64
 2   $10-20k             18 non-null     int64
 3   $20-30k             18 non-null     int64
 4   $30-40k             18 non-null     int64
 5   $40-50k             18 non-null     int64
 6   $50-75k             18 non-null     int64
 7   $75-100k            18 non-null     int64
 8   $100-150k           18 non-null     int64
 9   >150k               18 non-null     int64
 10  Don't_know/refused  18 non-null     int64
dtypes: int64(10), object(1)
memory usage: 1.7+ KB
None
             religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k  \
0            Agnostic     27       34       60       81       76      137
1             Atheist     12       27       37       52       35       70
2            Buddhist     27       21       30       34       33       58
3            Catholic    418      617      732      670      638     1116
4  Don’t know/refused     15       14       15       11       10       35

   $75-100k  $100-150k  >150k  Don't_know/refused
0       122        109     84                  96
1        73         59     74                  76
2        62         39     53                  54
3       949        792    633                1489
4        21         17     18                 116